*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbarlogo {
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border:hover{
    border: 1px solid white;
}


/**/
.addfirst {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;

}

.addsecond {
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;

}

.navcountry {
    display: flex;
    align-items: center;
}

/* box3 */
.search {
    display: flex;
    width: 620px;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;

}

.search:hover{
    border: solid 1.5px  #febd68;
    border-radius: 4.1px;
}

.searchicon {
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 40px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.select {
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 40px;
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
}

.input {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: none;
}

/* box4 */
.upperbox{
    font-size: 0.75rem;
    align-items: center;
}

.lowerbox {
    font-size: 0.85rem;
    background-color: #0f1111;
    border: none;
    border: none;
    font-weight: 700;
}

/* box6 */
.cart i {
  font-size: 25px;
}

.cart {
    font-size: 0.85rem;
    font-weight: 700;
}


/* panel */
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panelops p{
     display: inline;
     margin-left: 15px;
}

.panelops{
    width: 70%;
    font-size: 0.85rem;
}

.paneldeals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* herosection */
.herosection{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.heromsg{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.heromsg a {
    color: #007185;
}

.shopsection {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}


.box{
    height: 300px;
    width: 24%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 13px;
}

.boximg {
    height: 237px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boxcontent {
    margin-left: 10px;
    margin-right: 12px;
}

.boxcontent p {
    color: #007185;
}

/* footer */
footer{
     margin-top: 15px;
}
.panel1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color:#37475a ;
    color: white;
    font-size: 0.85rem;

}

.panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel4 {
    background-color: #0f1111;
    color: #dddddd;
    font-size: 0.85rem;
    height: 100px;
}

.pages{
    text-align: center;
    padding: 25px;
}

.copyright {
    text-align: center;
}
